<launch>
    <!-- Start the velocities conversion program -->
    <node pkg="play_with_robot" type="convert_velocities.py" name="convert_vels_node" output="screen" />
    
    <!-- Start publishing Twist messages -->
    <node pkg="play_with_robot" type="publish_twist.py" name="publish_twist_node" output="screen" />
</launch>
